/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

   footer{
     width: 100%;
     background: black;
     color: grey;
     font-size: 11px;
     padding: 10px;
   }
   footer .f1{
     text-align: center;
   }

#features {
  text-align: center;
  color: grey;
}
.panel{
  background-color: black;
}
.panel-heading{
  background-color: black;
}
#features img{
  margin: 0 0 20px;
}
#featuresHeading{
  font-family: sans-serif;
  color: grey;
}

.image{
  background: url('../../images/med.jpg') no-repeat;
  height: 500px;
}

#moreInfo{
  color: grey;
  background-color:black;
}
.list-group-item{
  background-color:black;
  color: grey;
}
 .thumbnail{
  background-color: black;
  color: grey;
  text-align: center;
}



/* --------------------------------------
   Typography
   -------------------------------------- */
  .body1{
  background-image: url("http://cdntbs.astonmartin.com/sitefinity/DB9/DB9%20Carbon/blackbackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}
footer .f5 li{
  display: inline;
  padding-right: 140px;
}
footer .f5 ul{
  padding-top: 15px;
  padding-left: 170px;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchinput{
     font-family: sans-serif;
width: 200px;
   }
.navbar-brand{
  margin-left: 0;
  margin-top: 0;
}
.navbar{
  background: black;


}
.collapse{
  margin-top: 10px;
  font-family: sans-serif;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#mycarousel .item{
height: 600px;

}
#myCarousel{
  margin-top: 60px;
}
.carousel-inner{
  margin-top: 43px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */

#white{
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  text-align: center;
}
#white h2{
  font-style: oblique;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .image{
    background: url('../../images/small.jpg') no-repeat;
    height: 310px;

  }
}

@media (max-width: 480px) {
  .image{
    background: url('../../images/xs1.jpg') no-repeat;
    height: 200px;
    width: 400px;
  }

}


/* Large desktop */
@media (min-width: 1200px) {
  .image{
    background: url('../../images/large.jpg') no-repeat;
    height: 600px;

  }
}
